/*header start*/

.header{
	background-image: url(../images/Burger-House.jpg);
	min-height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.navbar{
	padding: 40px 0;
}


.navbar-nav .nav-link.active{
	font-size: 20px;
} 
.nav-link{
	font-size: 20px;
}


.nav-item a{
	font-family: 'Bebas Neue', cursive;
	padding-left: 30px !important;
}

/*header end*/
/*banner part start*/
.row{
}
.height{
	min-height: 90vh;
	align-items: center;
}
.ban-leftmain{
	align-items: ;
}
.ban-left p{
	display: inline-block;
	font-size: 25px;
	font-family: 'Bebas Neue', cursive;
	padding: 10px;
	border: 1px dashed #42200B;
}
.ban-left h3{
	display: inline-block;
	font-size: 100px;
	font-family: 'Alfa Slab One', cursive;
	text-transform: uppercase;
	color: #3d2514;
	text-shadow: 3px 5px white;
/*	border: 1px dashed #42200B;*/
}

.ban-left h4{
	display: inline-block;
	font-size: 50px;
	font-family: 'Alfa Slab One', cursive;
	text-transform: uppercase;
	color: #3d2514;
	text-shadow: 3px 5px white;
/*	border: 1px dashed #42200B;*/
}

.ban-left img{
	padding: 20px 0;
}
.ban-right{

	overflow: hidden;
	display: inline-flex;
/*	border: 1px solid red;*/*/
}


/*.circle{
	margin-top: 50%;
	text-align: center;
	color: white;
	vertical-align: middle;
	height: 200px;
  	width: 200px;
  	background-color: red;
  	border-radius: 50%;
}*/

.circle{
	position: absolute;
	margin-left: 5%;
	bottom: 0;
	padding: 45px 40px;
	font-family: 'Bebas Neue', cursive;
	color: white;
	line-height: 40px;
	background-color: red;
	border-radius: 50%;
	border: 2px dashed; white;
}



.ban-right1 img{
		margin-left: 15%;
		margin-top: 26%;

		float: left;
}
.ban-right2 img{
	margin-left: -20%;
	margin-top: 26%;
	float: left;
}
.ban-right3 img{
	margin-left: -95%;
	float: left;

}

/*banner part end*/

/* burger gallery new start*/

.burger-gallery{
	margin: 0 auto;

}

.burger-galleryall{
	overflow: hidden;
	margin: 0 auto;
	padding: 60px 0;
	width: 80%;

}
.burgerleft-image{
	float: left;
	width: 47%;
	background-image: url(../images/onion-burger.png);
	background-repeat: no-repeat;
	background-size: contain;
	height: 430px;

}
.tryitp{
	margin: 0;
	padding-top: 20px;
	padding-left: 20px;
	font-size: 25px;
	font-family: 'Bebas Neue', cursive;
	color: white;

}

.mostp{
	margin: 0;
	padding-left: 20px;
	font-size: 40px;
	font-family: 'Bebas Neue', cursive;
	color: white;
	line-height: 40px;
}
.burgerleft-image p{

}
.burgerright-images{
	overflow: hidden;
	float: right;
	width: 50%;

}
.burger-gallerymain-right1{
	background-image: url(../images/Burger-House.pngsd.png);
	background-repeat: no-repeat;
	background-size: contain;

	height: 195px;

}
.burger-gallerymain-right1{
	
}
.burger-gallerymain-right1{
	
}
.burger-gallerymain-right1{
	
}
.burger-gallerymain-right2{
	margin-top: 40px;
	background-image: url(../images/burg-image-right.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	height: 195px;


}



/*burger gallery new end*/






/*
.image-gallery{
	margin: 0 auto;
	padding: 80px 0;
}

.image-gallery .col-md-6 .image-gal-left{
	background-image: url(../images/onion-burger.png);
	image-height: 300px;
}

/*.image-gal-left1 {
	background-image: url(../images/Burger-House.pngsd.png);
}*/
.image-gal-left2{
	margin-top: 5%;
}
.col-md-3{
	text-align: center;
}
.col-md-4{
	text-align: center;
}
.tasty-p{
	padding: 10px 0;
	font-family:'Bebas Neue', cursive ;
	font-size: 30px;
	color: #42200B;
	font-weight: 500;
	letter-spacing: 1px;
	background-color: #FFC135;

}

.choose{
	text-align: center;
	font-size: 70px;
	font-family: 'Alfa Slab One', cursive;
	color: #42200B;

}
.text-para{
	text-align: center;
	color: #42200B;
	font-size: 18px;
}
.burger-display{
	padding: 80px 0;
}
.col-md-4{
	text-align: center;
}
.burger-image1{

}
.burger-image1 img{

}
.burger-image2{

}
.burger-image2 img{
	text-align: center;

}

.col-md-4 h2{
	font-family:'Bebas Neue', cursive ;
	font-size: 40px;
	color: #42200B;
}
.col-md-4 button{
	padding: 16px 35px;
	font-size: 18px;
	color: white;
	font-family: 'Alfa Slab One', cursive;
	text-transform: uppercase;
	background: red;
	border: none;
}

/*discover start*/
.row{
/*	border: 1px solid red;*/
}
.discovermain {
    margin: 60px 0;
    box-shadow: 2px 5px 20px 4px #c5c5c5;
}
.discover p {
    margin: 0;
    padding-top: 30px;
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
    font-weight: 500;
    /* padding: 20px 0 20px 0; */
    padding-left: 30px;
}
.upcoming p{
	padding-top: 0;
	font-size: 40px;
	font-family: 'Alfa Slab One', cursive;
	color: #42200B;
	text-transform: uppercase;

}
.discover2 p{
	margin-top: 15px;
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	line-height: 26px;
}

.col-md-7{
	padding: 0;
	float: right;
}
.upcoming-image img{
	float: right;
}





/*discover end*/

/*reservation*/

#formGroupExampleInput {
	border: none;
	border-top: 1px solid lightgrey;
}

#formGroupExampleInput2 {
	border: none;
	border-top: 1px solid lightgrey;

}

#formGroupExampleInput2 {
}

#formGroupExampleInput2 {
}

#formGroupExampleInput2 {
}

.Reservation-fullwidth {
}

.all-content {
	overflow: hidden;
	padding-top: 50px;

}

.reservationleft-burgertabasco {
	float: left;
	width: 20%;
/*	border: 1px solid red;*/
}

.burgersmallimage {
}

.tabascoimage {
	margin-left: 45%;
	margin-top: 13%;
/*	border: 1px solid red;*/

}

.reservation-bookyourtablepart {
	float: left;
	width: 60%;
/*	border: 1px solid red;*/
}

.reservation-bookyourtablepart p{
	text-align: center;
	padding-top: 80px;
	font-family:'Bebas Neue', cursive ;
	font-size: 25px;
	font-weight: 400;	
/*	border: 1px solid red;*/
}

.reservation-bookyourtablepart p:nth-child(2) {
	margin-bottom: 95px;
	padding-top: 0;
	font-size: 40px;
	font-family: 'Alfa Slab One', cursive;
	color: #42200B;
	text-transform: uppercase;		
/*	border: 1px solid red;*/
}

.formleft-new {
    float: left;
    width: 45%;
    /* border: 1px solid red; */
    border-bottom: 1px solid lightgrey;
}

.form-group {
	margin-bottom: 45px;
}

.formright-new {
	float: right;
	width: 45%;
/*	border: 1px solid red;*/
}
button {
    border-radius: 0;
    border: none;
    /* padding: 10px 114px; */
    width: 50%;
    padding: 10px 0;
    font-size: 16px;
    color: white;
    font-family: 'Alfa Slab One', cursive;
    text-transform: uppercase;
    background-color: red;
}

.reservationright-burgerplate {
	width: 20%;
	float: left;
/*	border: 1px solid red;*/
}

.burgerplateimage {
	margin-left: 17%;
}
.burgerplateimage img{
	padding-top: 250px;
/*	border: 1px solid red;*/
}


/*reservation*/

/*bottom start*/

.bottom {
}

.container {

}

.row .bottommain {
}

.bottommain {
	background-image: url(../images/footer-headin.png);
}

.col-md-6.botleft {
}

.botlogo {
	padding-top: 85px;
	padding-left: 40px;
}

.col-md-6.botright {
/*	border: 1px solid red;*/
}
/*.botright p{
	padding-left: 40px;
	margin-top: 15px;
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	line-height: 26px;
}*/
.bot-text {
	padding-left: 40px;
	margin-top: 15px;
	margin-bottom: 165px;
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	color: white;
	line-height: 26px;
}
.allrithtsp{
	padding-left: 40px;
	margin-top: 15px;
	font-size: 16px;
	font-family: 'Bebas Neue', cursive;
	font-weight: 200;
	color: white;
	line-height: 26px;
	letter-spacing: 1px;
}
.iconp{
	padding-top: 200px;

	font-size: 20px;
	font-family: 'Bebas Neue', cursive;
	font-weight: 300;
	color: white;
	line-height: 26px;
}
.iconp1{
	margin-top: 10px;
	font-size: 20px;
	font-family: 'Bebas Neue', cursive;
	font-weight: 300;
	color: white;
	line-height: 26px;
}

.row {
}

.col-md-3 {
}

.locationicon {
	float: right;
	padding-top: 200px;
/*	border: 1px solid red;*/
}
.emailicon{
	float: right;
	margin-top: 10px;
/*	border: 1px solid red;*/


}

.col-md-9 {
}
.botsocialicon{
	margin-top: 170px;
	margin-left: 60%;
/*	border: 1px solid red;*/
}
.botsocialicon img:nth-child(4){
	padding-right: 30pc;
}
.instagram{

}
.instagram img{
	float: left;
	padding-left: 10px;
}



.reservation-bookyourtablepart p:nth-child(2) {


/*bottom end*/



